{% extends 'birds/base.html'  %}
{% load static %}

{% block title %}просмотр одной птицы{% endblock %}

{% block content %}
<div>
    <h1>Удаление одной птицы</h1>
    {% if bird %}
    <div class="card-bird">
        <ul>
            <div>
                <li>Имя птицы: {{ bird.name }}</li>
                <li>Цвет птицы: {{ bird.color }}</li>
                <li>Количество лайков: {{ bird.like }}</li>
                <li>Изображение птицы:
                    <img src="{{ bird.image.url }}" alt="картинка птицы" height="5%" width="5%">
                </li>
            </div>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div>
                    <button type="submit" value="Save">удалить птицу</button>
                </div>
            </form>


        </ul>
    </div>
    {% else %}
    <div class="card-bird">
        <h3>Записей еще нет</h3>
    </div>
    {% endif %}
</div>
{% endblock %}