{% extends 'birds/base.html'  %}
{% load static %}


{% block title %}просмотр списка птиц{% endblock %}

{% block content %}
<div class="base">
    <div>
        <h2>Просмотр записей Birds</h2>
    </div>
    <div>
        {% if birds %}

        {% for one_bird in birds %}
        <ul>
            <div>
                <li>Имя: {{ one_bird.name }}</li>
                <li>Цвет: {{ one_bird.color }}</li>
                <li>Изображение: <img src="{{ one_bird.image.url }}" alt="картинка птицы" height="5%" width="5%"></li>
                <li><a href="{% url 'birds:one-bird-detail' pk=one_bird.pk%}">перейти к просмотру птицы</a></li>
            </div>
        </ul>
        {% endfor %}

        {% else %}
        <div>
            <h3>Записей еще нет</h3>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}